.button {
	font: inherit;
	border: 1px solid #4f005f;
	background-image: linear-gradient(180deg, #9d17b8, #3e0a49, #230529);
	color: white;
	padding: 0.25rem 1rem;
	cursor: pointer;
}

.button:hover,
.button:active {
	background: #741188;
	border-color: #741188;
}

.button:focus {
	outline: none;
}
